<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>

        <iisnode
            node_env="production"
            watchedFiles="*.js;src\*.js;src\helpers\*.js;src\handlers\*.js;src\services\storage\*.js;src\services\slack\*.js;src\middlewares\*.js;src\middlewares\requestValidator\*.js;src\utilities\*.js"
        />
        <rewrite>
            <rules>
                <rule name="Fail bad requests">
                    <match url=".*"/>
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="teamcity.bot" negate="true" />
                    </conditions>
                    <action type="AbortRequest" />
                </rule>
                <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="iisnode" />
                </rule>
                <rule name="hooks">
                    <match url=".*" />
                    <action type="Rewrite" url="index.js"/>
                </rule>
            </rules>
        </rewrite>

        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                    <add segment="__tests__" />
                </hiddenSegments>
            </requestFiltering>
        </security>

    </system.webServer>
</configuration>
